<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

  <main>
    <nav class="nav"></nav>
    <section class="d3-scratchpad"></section>
  </main>

</body>
</html>
